/* MODELO DE CAJA */
*{
box-sizing: border-box;
}

/* Im치genes de la secci칩n vuelos */
#vuelos img {

    width: 300px;     /* mismo ancho */
    height: 200px;    /* mismo alto */

    object-fit: cover; /* evita deformaci칩n */

    margin: 10px;
    border: 2px solid black;
}


/* SELECTOR DE ELEMENTO */
body{

font-family: Arial;
margin: 0;
background-color: #f4f4f4;

}

/* HEADER */
header{

background-color: darkblue;
color: white;
padding: 20px;
text-align: center;

}

/* NAV FLEXBOX */
nav ul{

display: flex;
justify-content: center;
gap: 20px;
list-style: none;
background-color: black;
padding: 10px;

}

/* SELECTOR DESCENDIENTE */
nav ul li a{

color: white;
text-decoration: none;

}

/* PSEUDOCLASE */
nav ul li a:hover{

color: yellow;

}

/* SECTION */
section{

background-color: white;
margin: 20px;
padding: 20px;
border: 2px solid gray;

}

/* ID SELECTOR */
#contacto{

background-color: lightblue;

}

/* TABLA */
table{

width: 100%;

}


#mapa {

    text-align: center;
}

#mapa iframe {

    border: 2px solid black;

    padding: 5px;

    margin-top: 10px;
}



/* FORMULARIO */
form {

    width: 500px;
    margin: 20px auto;
    padding: 20px;

    border: 2px solid black;
}

/* Cada fila */
.fila {

    display: flex;
    align-items: center;

    margin-bottom: 15px;
}

/* Etiquetas alineadas a la derecha */
label {

    width: 180px;

    text-align: right;

    margin-right: 10px;

    font-weight: bold;
}

/* Inputs alineados a la izquierda */
input, textarea {

    flex: 1;

    padding: 8px;

    border: 1px solid gray;
}

/* textarea altura */
textarea {

    height: 80px;
}

/* bot칩n */
button {

    padding: 10px 20px;

    background-color: blue;
    color: white;

    border: none;
}


/* FOOTER */
footer{

background-color: black;
color: white;
text-align: center;
padding: 10px;

}
